body{
    font-family: Arial; 
    font-size:12px;
    background: grey;
}
header{
    background-color: rgb(104, 33, 122); 
    padding: 8px;
    background-image: url('images/header.jpg');
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
nav{
    text-align: center; 
    background: #8cce8c;
    border-radius: 6px;
}
header nav a{
    color: #fff; 
    background: green; 
    padding: 5px;  
    border-radius: 4px;
}
header nav a:hover{
    color: #fff; 
    background: darkgreen; 
    padding: 8px;  
    border-radius: 4px;
}
h1{
    text-align: center;
}
main{
    background: whitesmoke; 
    padding: 6px;
}
main section button{
    background-color: white; 
    color: black; 
    border: 2px solid black;
    padding: 3px;
    border-radius: 4px;
}
main section button:hover{
    background-color: black; 
    color: white; 
    border: 2px solid black;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
}
main section p img{
    width: 200px;
    float: left;
    margin-right: 5px;
}
main section{
    overflow: hidden;
}
footer{
    padding: 5px;
}
main section{
    background: lightgrey;
}

.background-aqua{
    background: aqua;
}

.background-dark-blue{
    background: darkblue;
    color: wheat;
}

.background-purple{
    background: rgb(104, 33, 122);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.top-headline{
    color: rgb(230, 205, 69);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px white;
} 

